{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4">
            <img src="{{url_for('static', filename='Ahna-0306.jpg')}}"/ width="100%">
          </div>
          <div class="col-xs-4">
            <h2 class="text-justify">Ahna Girshick</h2>
            <p class="lead">Check out my <a href="http://lightdark.org">website</a>.</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
