{% extends "layout/base.html" %}

{% block content %}
<br><br><br><br><br><br><br><br>
<center>
<br>
<img src="{{url_for('static', filename='wikiscore.globe.png')}}"/ width="25%">
<br>
<br>
<form action="/out" method="POST">
    <br/>
    Search Wikipedia to calculate a Wikiscore: <input type="text" name="searchPhrase">
    <br><br>
    <i>Examples: your hometown, favorite musician, or current events</i>
    <br>
    <b>{{text}}</b>
    <br/> 
    <br>
    <input type="submit">
</form>

</center>
{% endblock %}
